@model IEnumerable<BjornsBookShop.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bjorns BookShop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <a href="https://localhost:7053/Books">Här kan du beställa våra böcker</a><br><br>
    
    <img src="@Url.Content("~/images/KrigFred.jpg")" height="270" width="225" alt="error">
    <img src="@Url.Content("~/images/TrädgårdsDags.jpg")" height="270" width="225" 
    alt="error">
    <img src="@Url.Content("~/images/DonQ.jpg")" height="270" width="225" alt="error">
    <img src="@Url.Content("~/images/NallePuh.jpg")" height="270" width="225" border="1" 
    alt="error">
</p>

<p>
    
    <a asp-controller="Books" asp-action="Index">CREXX</a>

</p>

@if (Model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<p>No data available.</p>
}


